.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/app1/var/cache
/app1/var/session
/app2/var/cache/a_user.tpl.1826f83f.35.php
/app2/var/cache/box-3_rate.tpl.241431ec.42.php
/app2/var/cache/box-3_sorder.tpl.ff7474c7.44.php
/app2/var/cache/box-3_ureg.tpl.87c5496a.42.php
/app2/var/cache/box-3_visitor.tpl.3824410e.45.php
/app2/var/cache/box-7_sales.js.b04500cb.42.php
/app2/var/cache/box-7_sales.tpl.232233cd.43.php
/app2/var/cache/dashboard1.tpl.ca7208aa.3b.php
/app2/var/cache/empty.tpl.3f3626f1.2e.php
/app2/var/cache/index.tpl.84adb87d.27.php
/app2/var/cache/index.tpl.85670c6c.28.php
/app2/var/cache/index.tpl.cff69f27.26.php
/app2/var/cache/lockscreen.tpl.a1407f19.33.php
/app2/var/cache/login.tpl.7a5cdae6.39.php
/app2/var/cache/main_footer.tpl.24cfd21c.35.php
/app2/var/cache/main_footer.tpl.a77eee1e.34.php
/app2/var/cache/main_footer.tpl.c3c54219.36.php
/app2/var/cache/main_header.tpl.1cdeaafb.35.php
/app2/var/cache/main_header.tpl.9f6f96f9.34.php
/app2/var/cache/main_header.tpl.fbd43afe.36.php
/app2/var/cache/navbar_left.tpl.1f4946df.35.php
/app2/var/cache/navbar_left.tpl.9cf87add.34.php
/app2/var/cache/navbar_right.tpl.28e82c40.35.php
/app2/var/cache/navbar_right.tpl.c665fc50.36.php
/app2/var/cache/page.tpl.6a8b769a.2e.php
/app2/var/cache/product_info.tpl.2c2a184d.35.php
/app2/var/cache/profile.tpl.6e1d5929.36.php
/app2/var/cache/user.tpl.82bae2cb.33.php
/app2/var/session/a_session02se6t6bgl6185hcljmiqhffna91pq84
/app2/var/session/a_session0b3afrbmbp3ue0musfprltlhn9q92obm
/app2/var/session/a_session0i5rnse4rabf88cvf3s20049vb2noghv
/app2/var/session/a_session0kf4ojklg9q9jgiu6h4dhoqurbmg51ro
/app2/var/session/a_session0vojmoeu3s7n37o3j8vt6k262vj6p9pn
/app2/var/session/a_session16n0f0iff16dgvdkbstoqrjqooaaleao
/app2/var/session/a_session1a6628l9uhl7th8g421vrtkhh7t5d1kl
/app2/var/session/a_session1egqp291euv282k6mps0bs9q8va1r129
/app2/var/session/a_session1hmuiq5oeg2spevdro1b2j150tr2g911
/app2/var/session/a_session1m4nj82shsnjclikddva2o3j3lhv53vn
/app2/var/session/a_session1vhrqrpufkojm08jnq0baauchc4c3ev9
/app2/var/session/a_session20l74b7affh8di7c4c9tkg0dr60o83cg
/app2/var/session/a_session29vmi4mogcv4iglu46bcpp6upi20uvlg
/app2/var/session/a_session2cng6c2j4hcmfabo0ir9du5jo718ovdf
/app2/var/session/a_session2e1fkukvthq1372iferh9430ospd9u1m
/app2/var/session/a_session2f71uptm65bnp9b7infcfvtt3pfg4804
/app2/var/session/a_session2go52bgr7fismjj3463n3kso0e6o188m
/app2/var/session/a_session2ie3jvdooncadc856b7adkh3t1d9lj26
/app2/var/session/a_session2lhqcip7v28fnuod1oeohj656sou1ts2
/app2/var/session/a_session318hib1fnskoqnj6676acnm7qj8tv5t7
/app2/var/session/a_session3di3ji01thoohebcchvpkkol2lmhdd88
/app2/var/session/a_session3er2ruousrfnekav2j3olnuggjpc5l68
/app2/var/session/a_session3gjj1qtln15lp7o4ta7hs30dsi0446fj
/app2/var/session/a_session3rs3iu0d1s076ath6fq6n0lo4klub2oo
/app2/var/session/a_session443kcv27kgvulh30trp48grcicql2gsb
/app2/var/session/a_session47l84gppr3vou64boqqbhpsriqtqk7hs
/app2/var/session/a_session4ddlc7gkeqivch9q0o87ddddpjdnp6aq
/app2/var/session/a_session4m8rlouna3u55g5e6h5k0dsf1ekvde9u
/app2/var/session/a_session4qscrk203j1c3h0s773jqf80sbueq0hd
/app2/var/session/a_session4qvf5ks2lp96dujqtuav931ura0peqbt
/app2/var/session/a_session5dumgd0tne150vh18uilgtco6uo5ravh
/app2/var/session/a_session5g58b4af0rv6iqiknihf9gghvcvnb6en
/app2/var/session/a_session5tnc79urnmuq6mhcur2qe5fkns63gg9a
/app2/var/session/a_session61cphjj4dmepptj1jjnh379bviks9s9s
/app2/var/session/a_session68lqfegbd88pc934logn3n5ist0rsafq
/app2/var/session/a_session6fbq1ftj0ufam11i8r3j7g2l63uqv00r
/app2/var/session/a_session6m135cofh6e7db0gj7oor8ecrc9fmsaq
/app2/var/session/a_session6qo7knen20tg6na2aekdkio4irg1fvfv
/app2/var/session/a_session6ra9jrfaver1nik72ae42auasgema973
/app2/var/session/a_session70agrmulhu03h80a1itsdqo445v03k57
/app2/var/session/a_session72t5mu09edjnl6mk2jsntimgkevil4an
/app2/var/session/a_session732ht4pdr486v022tturnr7gvqb3ectc
/app2/var/session/a_session7jgul8r4l4a2f1a1dtcrcl1nbgf5smr1
/app2/var/session/a_session817e6dspd48p34p0ubge283ughioc9i0
/app2/var/session/a_session81ivk3q0hj24hvjf3ashbtor8cv0lupk
/app2/var/session/a_session8h2s6ic9k21t7bttj2ef989nmr92tu27
/app2/var/session/a_session8lggbktfncj37pp0oj61gh4sq2qqfr4h
/app2/var/session/a_session8nv4nvo9h5glmj4uprgi88kh2q6ak4nm
/app2/var/session/a_session9lhont626f0jcvl93ec3siv4ba78skki
/app2/var/session/a_sessiona2sdf4up86p20o3jb707hii8th3p8v1b
/app2/var/session/a_sessiona9ell9lp2ke4m71umjkomnr0etgt8t7e
/app2/var/session/a_sessionaeakjdktcirmklsscr3huod3hqtkusel
/app2/var/session/a_sessionblu1orec7nklbhdeb9rj5hjjjouv0vda
/app2/var/session/a_sessionc5b22qrhdfr56objk3t7f99kru4sp51g
/app2/var/session/a_sessioncq98rt7o2t07q3n4jsb4fam5unskpv50
/app2/var/session/a_sessiond3crjl4f33b323fcsqtlbiktmkfmsv01
/app2/var/session/a_sessiondbnju1umui57a42far92j5k8mmc9qka3
/app2/var/session/a_sessiondhg1vp7b8qamlb4eufaht8h64bs7jild
/app2/var/session/a_sessiondv9q9hmsb911kcgev0v9o5720ncapka3
/app2/var/session/a_sessione0ie5qk9ccoggs0hv3ocdmda5mt6rcoi
/app2/var/session/a_sessionefstv3f5g2o3a9oa8u2lj6jr7g6nk7qa
/app2/var/session/a_sessioneuri8681pn92pakhm7todveado1sdjjg
/app2/var/session/a_sessionfgeug54lfp7hk2rfn493d0i1v7jl7sku
/app2/var/session/a_sessionfh8hrr5pftccdqv20tv5203tf70gpk1n
/app2/var/session/a_sessionggd9pjs5sno2kie6ejgkr681j82a56aq
/app2/var/session/a_sessionhbhttv2euq620of2btfmuimpf64tbh8e
/app2/var/session/a_sessionhfte4k17nl2cg6bg9v5f2a2udatgibua
/app2/var/session/a_sessionhkb183oip6uv3li249ar4mgcte15o7tl
/app2/var/session/a_sessionhmf17gf4okuuidfdls69vgmloa4ra5mb
/app2/var/session/a_sessionhppqgijik2r8daf1jdbv1d74ofrhm5ng
/app2/var/session/a_sessioni276vsafopa668t4v30g1ii97prop44v
/app2/var/session/a_sessioniun07e50feilu8fmb7a9op3ojn1ror9j
/app2/var/session/a_sessionj9c05bl17n5hraanl6ourha0kgtbjt03
/app2/var/session/a_sessionjdbsceca7b5r8vjj81ue67o4t06l697k
/app2/var/session/a_sessionjjmskp7l7sdkf6r8obr3h7v678k0cglg
/app2/var/session/a_sessionjrgohpfri5gstsssfhmejskuutg0d2nd
/app2/var/session/a_sessionk3ogkjdc1uc2itgg2m7q0nitd368ulom
/app2/var/session/a_sessionk5akrjokfi8su4sb8rkoneh97d14j57o
/app2/var/session/a_sessionk5c3kkjveu7l61fcinvtv2g0qnee5327
/app2/var/session/a_sessionk5jl0ppufpj6em2cifeimo964g6hn8e2
/app2/var/session/a_sessionkcf1vfdpkuc7q5un0qf241dukl3ee098
/app2/var/session/a_sessionkd9kma1og8b91sibpt42cu1mjk2m9d7l
/app2/var/session/a_sessionkhi0hafsu20ms4rmhrs9k8fi6s0deud4
/app2/var/session/a_sessionki3kft3kd1i9thcevh20mlf843rj30nq
/app2/var/session/a_sessionkj1gdluri0441463qvf3mkvephmdgpa9
/app2/var/session/a_sessionlc4nd29n56o3s3jk06nrp589p4rlo9a9
/app2/var/session/a_sessionlljk17n1j54pc37umv9r80ugbhf8lvqg
/app2/var/session/a_sessionltm9h1fc4j8g9bkj781176274stpbr2k
/app2/var/session/a_sessionm6ru8s8s3p88ae9l41iltf0pi3d7i2dh
/app2/var/session/a_sessionm8pkpbcaacet86npoemru6s521sqhm2e
/app2/var/session/a_sessionmasbiud4hte4foku975bahbsi9d4070n
/app2/var/session/a_sessionmi427keephf5k7lqi0cko946ecuive1f
/app2/var/session/a_sessionmtijpdk7u1oa15er1e4sqdnregpq5ckq
/app2/var/session/a_sessionn5ec7u72ih49iiapnpqo8a11294cgrua
/app2/var/session/a_sessionn8iti3onnllpni96jv5qmbiiqni7cbso
/app2/var/session/a_sessionnso2hfte3laipdeoa72aqi20l7h87gj9
/app2/var/session/a_sessiono44amguck9tinc7nprj3qsi46utrs2m5
/app2/var/session/a_sessiono57bpj20vl09cdphb0ohppilq5qlmk19
/app2/var/session/a_sessiono8gd1opdd9raktnjcbs2s8nk69l46lvi
/app2/var/session/a_sessionoigfpu4fmep40muhb6v0kkoa2d5ripe7
/app2/var/session/a_sessionp0hfmo0og2e9o48fspneea4lsedvcui0
/app2/var/session/a_sessionp2vkghj5om2p7o58qect1735uvhpr49b
/app2/var/session/a_sessionptnmi3eu9e4jk0e9co7o6mgkenmhd0lq
/app2/var/session/a_sessionpuqtf3r4grfbrl9av2tp74k4186iog2u
/app2/var/session/a_sessionpv5jdl6b4fpbmmhre0eab1iesnpidrko
/app2/var/session/a_sessionqd2p855oqpmf5dk5ib12ubm6plpa3at7
/app2/var/session/a_sessionqo54d65m4k41df1fspt95jsp46es3i2n
/app2/var/session/a_sessionqt9sj2e6lihmhnctt2carj1qeepaelpk
/app2/var/session/a_sessionrg2tn12qfq5mgidc91f1giqiu31qb72i
/app2/var/session/a_sessionrq4hjtepmnj7lupbgr9mq8k356j75an3
/app2/var/session/a_sessionsfgecg1fmmc0nh7lo2o6ldfefrfjr2ms
/app2/var/session/a_sessionsklqrirnddj09cefbifhm6t3fhp87nnn
/app2/var/session/a_sessionsn8j2rcealpc2gan421d1o5rri076mbt
/app2/var/session/a_sessionst3agd8lqdm5d3mc4kemu56tobdmfdjf
/app2/var/session/a_sessionstt7ba1mid937uhikudduducvl3cbabo
/app2/var/session/a_sessiont0o80bhecuhr6g0ih779rfc4tp6jijhm
/app2/var/session/a_sessiont1bu5h0qlgajgdg288m2dd1ns77uj8p5
/app2/var/session/a_sessiontfsba8t14gmak3r8cts8ecv9m1tbomn6
/app2/var/session/a_sessionts9s85ollgq4fcc1mbari15kjnvhcct9
/app2/var/session/a_sessionu2ooa94lb42qoc9cg55qlu2i1smom2cp
/app2/var/session/a_sessionu7lk3casa66d6rkakuj22b0c54a783bf
/app2/var/session/a_sessionu9i7q2ufbid2ecjc9iils6tk3n76qjbn
/app2/var/session/a_sessionufdfifdlmbtp2aukhphr0idlhi4dnf30
/app2/var/session/a_sessionul0ve2opbglror1he28h4qjjarsgj0c4
/app2/var/session/a_sessionv5iok13efnpf8s12ch90k263mnqdjce9
/app2/var/session/a_sessionvj9qgkjlgum1ujor9251cce9k5lm8ema
/app2/var/session/a_sessionvqrq4an4ium3u8ebo4q9pdr80altfn0t
/app2/var/session/a_sessionvu8hasjqmj5611berumhv52tgelag423
/app2/var/session/a_sessionvuscgtc0idbcm5aul42ni5alhbp0klql
